{% extends "layout.html" %}

{% set active_page = "home"%}

{% block title %}Home{% endblock %}

{% block content %}
 <h1>Learn About the Classics!</h1>
 
 <p>The data used in this web app is from the CORGIS Dataset Project and can be found 
      <a href="https://corgis-edu.github.io/corgis/json/classics/">here</a>.  The data contain statistics about books which are
considered classics.</p>
<p>"Project Gutenberg (PG) is a volunteer effort to digitize and archive cultural works, 
to ‘encourage the creation and distribution of eBooks’. It was founded in 1971 by Michael S. Hart and is the oldest digital library. 
This dataset is a collection of the top 1000 most popular books on Project Gutenberg, as determined by downloads."</p>
 <p>Here you'll be able to find about a books author, birth and death year of said author as well as the subject of the book. 
 Another bit of information this website provides is the amount of downloads the book has and the direct url of the book.  </p>
 <p>The website where all of these books are available can be found
    <a href="https://www.gutenberg.org/ebooks/search/?sort_order=downloads">here</a>. Not all books will have cover images that makes them easily identifiable. 
 
{% endblock %}

 

