{% extends "layout.html" %}

{% set active_page = "InfoAvailble" %}

{% block title %}Classics Info{% endblock %}
  
{% block content %}

<h2>Learn more about the Classics you might of heard of!</h2>
<p>Select a Classic Book:</p>

<form action="/InfoAvailable">
  <select name="title">
   {{ options }}
  </select>
  <br><br>
  <input type="submit">
</form>

<p>Author: {{responseFromServer}}</p>

<p>Birth year: {{responseFromServer2}}</p>

<p>Death year: {{responseFromServer3}}</p>

<p>Subject of the book: {{responseFromServer4}}</p>

<p>How many have downloaded: {{responseFromServer5}}</p>

<p>Direct link to the book: {{responseFromServer6}}</p>

{%endblock%}

