{% extends "layout.html" %}

{% set active_page = "StillCurious" %}

{% block title %}Here are other bits of information.{% endblock %}
  
{% block content %}

<h2>Added on to what you might already know!</h2>
<p>Select a Classic Book:</p>

<form action="/StillCurious">
  <select name="title">
   {{ options }}
  </select>
  <br><br>
  <input type="submit">
</form>

<p> Book chosen: <b>{{responseFromServer8}}</b></p>

<p>Publication date: {{responseFromServer9}}</p>

<p>Word count: {{responseFromServer10}}</p>

<p>Number of formats the book has: {{responseFromServer11}}</p>

<p>Types of formats: {{responseFromServer12}}</p>

<p>Congress Classification: {{responseFromServer13}}</p>

<img src="{{url_for('static', filename = 'Classification2.jpg')}}" alt="Congress Classification chart">

{%endblock%}